body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
width: 120px; background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
/*non*/
header {
  margin: 0;
}

header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

canvas {
width: 1200px;
height: 390px;

}

.disp, .w3-animate-bottom {
    position: relative;
    animation: animatebottom 1s !important;
}

.scroll-animations, .w3-animate-left {
  animation: animateleft 1s !important;
}

div> w3-half .w3-grayscale-max:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

div> .w3-grayscale-max:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  }
  
  nav> .w3-grayscale-max:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  }

 /* #works {
    background: #fff;
    margin: 0px -100px 0px -100px;
    padding: 100px;
  }*/